name: CI/CD
on: [push, pull_request]
jobs:
  install-ruby-and-run-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Ruby
      - uses: ruby/setup-ruby@v1.92.0
        with:
          ruby-version: 2.6
          bundler-cache: true
      - run: gem install bundler
      - run: bundle install
      - run: bundle exec rubocop
        # - name: Build and run test
        #   env:
        #     DATABASE_URL: postgres://postgres:@localhost:5432/test
        #     RAILS_ENV: test
        #     POSTGRES_USER: postgres
        #     POSTGRES_PASSWORD: ''
        #   run: |
        #     gem install bundler
        #     gem install rubocop
        #     bundle execute rubocop
